/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: lighter;
}

.about {
    padding: 30px 0;
    background: #fff;
}

.about h2 {
    text-align: center;
    color: #333;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-content p {
    max-width: 600px;
    text-align: justify;
}

.skills {
    background: #dbd4d4;
    padding: 30px 0;
}

.skills h2 {
    text-align: center;
    color: #333;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 25px;
}

.education {
    padding: 30px 0;
    background: #fafafa;
}

.education h2 {
    text-align: center;
    color: #333;
}

.education ul {
    list-style-type: none;
    padding: 0;
}

.education li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

.experience {
    background: #d3c7c7;
    padding: 30px 0;
}

.experience h2 {
    text-align: center;
    color: #333;
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

.contact {
    background: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    margin: 10px 0;
}

.contact a {
    color: #e8491d;
    text-decoration: none;
}

.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}
